@import "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800)";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  background: #cccccd url(../images/linedpaper.png) top left repeat;
  color: #66696c;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
}

#content {
  color: #CC8E94;
  font-size: 2em;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 3em;
}

h1 {
  font-size: 3.5em;
  margin: 20px 0 10px;
  color: #111;
}
@media (max-width: 700px) {
  h1 {
    font-size: 2.2em;
  }
}

h2 {
  font-size: 1.5em;
  color: #F42534;
}

p {
  font-size: 1.3em;
  line-height: 1.5em;
  color: #111;
  margin-bottom: 20px;
  margin-top: 15px;
}

section {
  padding: 20px 0;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  background: rgba(237, 237, 237, 0.5);
  border: 1px solid transparent;
  border-radius: 0px;
}

.map {
  width: 60%;
  height: 500px;
  float: left;
  margin-bottom: 40px;
}

.data-display {
  width: 40%;
  height: 500px;
  background: #111;
  float: right;
  padding: 10px;
}
.data-display .crime-data-header {
  margin-bottom: 5px;
}
.data-display .incident-type-count-0, .data-display .incident-type-count-1 {
  text-transform: capitalize;
  color: #fff;
  font-size: .8em;
  margin: 1px;
}
.data-display .incident-type-count-0 span.crime-count-type, .data-display .incident-type-count-1 span.crime-count-type {
  text-align: right;
  float: right;
}
.data-display .incident-type-count-1 {
  color: #C7C7C7;
}

.view-options button {
  width: 25%;
  float: left;
  display: block;
  height: 92px;
}
.view-options button.active-btn {
  background: #C7C7C7;
}
.view-options button:hover {
  background: #C0DC99;
}
.view-options button p {
  font-size: .7em;
  margin: 0;
}
.view-options img {
  max-height: 60px;
}
