// _modules.scss
// ============
.map { 
  width: 60%; 
  height: $map-height; 
  float: left;
  @media screen and (max-width: $break) {
    width: 100%;
  } // .map media-query
} // map

.data-display {
  width: 40%;
  // min-height: $map-height; 
  background: $black;
  float: right;
  padding: 10px;
  &.show-mobile {
    display: none;
    @media screen and (max-width: $break) {
      display: block;
      height: auto;
    }
  } // .data-display.show-mobile
  @media screen and (max-width: $break) {
    width: 100%;
    height: auto; 
  } // .data-display media-query
  .crime-data-header {
    margin-bottom: 5px;
    &.hide-mobile {
      @media screen and (max-width: $break) {
        display: none;
      }
    } // .crime-data-header.hide-mobile
  } // .crime-data-header
  .incident-type-count-0 {
    text-transform: capitalize;
    color: $white;
    font-size: .8em;
    margin: 1px;
    span.crime-count-type {
      text-align: right;
      float: right;
    } //span.crime-count-type
  } // .incident-type-count (EVEN)
  .incident-type-count-1 {
    @extend .incident-type-count-0;
    color: $grey;
  }// .incident-type-count-1 (ODD)
} // data-display

.view-options {
  button {
    width: 25%;
    float: left;
    display: block;
    height: 92px;
    &.active-btn {
      background: $grey;
    } // button.activ-btn
    &:hover {
      background: $lightGreen;
    } // button:hover
    p {
      font-size: .7em;
      margin: 0;  
      @media screen and (max-width: $break) {
        display: none;
      }
    }//p
  } //button
  img {
    max-height: 60px;
    @media screen and (max-width: $break) {
      max-width: 100%;
      max-height: 100%;
    } // .view-options img media-query
  } // img
} // view-options

.data-viz-wrapper {
  width: 100%;
  display: block;
  float: left;
  background: $black;
} // data-viz-wrapper