// _modules.scss
// ============
.map { 
  width: 60%; 
  height: $map-height; 
  float: left;
} // map

.data-display {
  width: 40%;
  height: auto; 
  background: $black;
  float: right;
  padding: 10px;
  .incident-type-count-0 {
    text-transform: capitalize;
    color: $white;
    font-size: .8em;
    margin: 1px;
    span.crime-count-type {
    text-align: right;
    float: right;
    } //span.crime-count-type
  } // p.incident-type-count
  .incident-type-count-1 {
    @extend .incident-type-count-0;
    color: $grey;
  }
} // data-display

