// _variables.scss
// =================
@import "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800)";

// NEUTRALS
$black		   	: #111;
$white			: #fff;
$grey			: #C7C7C7;

$red			: #F42534;
$beige         : #E3C691;
$darkGreenGold : #8D8862;
$lightGreen    : #C0DC99;
$green         : #507356;
$lightBlue     : #97D5D9;
$desatBlue     : #464B65;
$purple        : #3E2B3D;
$darkPurple    : #3A3248;
$pink          : #CC8E94;
$skin          : #B08B7B;

$headFont : 'Open Sans', sans-serif;
$bodyFont : 'Open Sans', sans-serif;

$map-height:  500px;

$break: 800px;
